:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  word-wrap: break-word;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #ffffff;
  --second-color: #7695ec;
  --third-color: #999999;
  --text-color: #000000;
  --info-color: #777777;

  --background-color: #dddddd;
  --posts-background-color: #ffffff;
}

body {
  margin: 0;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;

  color: var(--main-color);
}

label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  cursor: pointer;
  background-color: var(--second-color);
  padding: 7px 35px;
  border: 0;
  border-radius: 8px;
}

input,
textarea {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: var(--text-color);
  border: 1px solid var(--info-color);
  box-sizing: border-box;
  border-radius: 8px;
  resize: none;
  background-color: var(--posts-background-color);
}

span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

button:hover,
.option:hover {
  filter: brightness(1.1);
  animation: bounce 0.3s forwards;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
